@import "../../.cache/wal/colors-waybar.css";

* {
    font-family: FontAwesome, MonoLisa;
    font-size: 1rem;
    color: #fff;
}

#waybar {
    box-shadow: none;
}

window#waybar {
    background-color: @background;
    color: white;
    padding: 0;
    margin: 0;
}

.modules-left,
.modules-right {
    opacity: 0.8;
}

/* 
*
* MODULES LEFT 
* 

#workspaces button.active {
    background: @color10;
    padding: 0 1rem;
    margin: 0 0.75rem;
    border-radius: 0 0 0.5rem 0.5rem;
    border-bottom: 2px solid @color11;
}

#workspaces button.active:first-child {
    margin-left: 0;
    border-radius: 0;
}

#workspaces button.special:last-child {
    margin-right: 0;
}

#workspaces button.special {
    background: @color4;
    padding: 0 1rem;
    margin: 0 0.75rem;
    border-bottom: 2px solid @color11;
}

#workspaces-container {
    background: @color11;
}
*/

button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}

#window {
    padding: 0 1rem;
}

/* 
*
* MODULES CENTER 
* 
*/

#clock {
    background: @background;
    opacity: 0.8;
    font-weight: bold;
    padding: 0 1rem;
    border-radius: 0 0 0.7rem 0.7rem;
}

#custom-separator,
#custom-slash {
    color: @color11;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 0.5rem
}

/* 
*
* MODULES RIGHT 
* 
*/

#bluetooth,
#network {
    padding: 0 0.75rem;
}

#hardware {
    background: @color10;
    padding: 0 1rem;
}

#connectivity {
    background: @color11;
    padding: 0 1rem;
}

#pulseaudio {
    background: @color8;
    padding: 0 1rem 0 1.5rem;
}

#language {
    background: @color4;
    padding: 0 0.7rem;
}

#tray{
    background: @color1;
}

